<<<<<<< HEAD
﻿
@{
    ViewBag.Title = "Senda inn beiðni";
}
=======

@model Textaleysa.Models.ViewModel.UploadMovieRequestViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
}
<div class="row center">
    <div class="col-xs-12 FirstDivOnPage"></div>
</div>

<div class="row center">
    <div class="col-xs-12"><h2>Ný beiðni</h2></div>
</div>
<div class="row">
    <div class="col-xs-12 SecondDivOnPage"></div>
</div>
    <div class="row">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.mediaTitle, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.mediaTitle)
                    @Html.ValidationMessageFor(model => model.mediaTitle)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.yearReleased, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.yearReleased)
                    @Html.ValidationMessageFor(model => model.yearReleased)
                </div>
            </div>
            </div>
        </div>

>>>>>>> 6e59bdd26cb6c4aad4b01ec24abf7bd7d431992b

<h4 class="center">Vilt þú óska eftir skjátextaskrá fyrir kvikmynd eða þátt?</h4>

<div class="row">
    <div class="SecondDivOnPage"></div>
</div>
<div class="row center">
    <div class="col-xs-12"></div>
        <div class="btn-group btn-group-lg">
            <a class="btn btn-default upload-buttons" href="/Request/CreateMovieRequest">Kvikmynd</a>
        </div>
           <div class="btn-group btn-group-lg">
            <a class="btn btn-default upload-buttons" href="/Request/CreateEpisodeRequest">Þátt</a>
        </div>
</div> 

