@model IEnumerable<Textaleysa.Models.ViewModel.ListRequestViewModel>
@{
    ViewBag.Title = "Listi yfir beiðnir";
}

<div class="row">
    <div class="col-xs-12">
        <p class="center">
            @Html.ActionLink("Senda inn nýja beiðni", "CreateRequest")
        </p>
        <table class="table">
            <tr>
                <th>
                    Fjöldi atkvæða
                </th>
                <th>
                    Titill
                </th>
                <th>
                    Tungumál
                </th>
                <th>
                    Notandi
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span class="voteGoHere" id="vote-@Html.DisplayFor(modelItem => item.ID)">
                            @Html.DisplayFor(modelItem => item.votes)
                        </span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mediaTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        <button type="submit" class="vote-request" id="@Html.DisplayFor(modelItem => item.ID)"><span class="glyphicon glyphicon-thumbs-up"></span></button></td>
                </tr>
            }
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript" src="~/Scripts/UpVoteScript.js"></script>
