@model IEnumerable<Textaleysa.Models.ViewModel.SearchResultListView>

@{
    ViewBag.Title = "Vinsælast";
} 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().downloadCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().date)
        </th>
    </tr>

    @foreach (var item in Model)
{
        <tr>
            <td>
                @if(item.isMovie)
            {
                    @Html.ActionLink(item.title, "DisplayMovie", "SubtitleFile", new { id = item.ID }, null)
            }
            else
            {
                    @Html.ActionLink(item.title, "DisplaySerie", "SubtitleFile", new { id = item.ID }, null)
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.downloadCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
        </tr>
}
</table>