@model IEnumerable<Textaleysa.Models.ViewModel.DisplayMovieView>

@{
    ViewBag.Title = "SearchResult";
}
<div class="row center">
    <div class="col-xs-12 FirstDivOnPage"></div>
</div>

<div class="row center">
    <div class="col-xs-12"><h2>Leitarniðurstöður fyrir ADDI BÆTA VIÐ</h2></div>
</div>
<div class="row">
    <div class="col-xs-12 SecondDivOnPage"></div>
</div>
<div class="row">
    <div class="col-xs-12">
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yearReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.downloadCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.title, "DisplayFile", "SubtitleFile", new { id = item.ID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yearReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.downloadCount)
        </td>
    </tr>
}
</table>
    </div>
