@model Textaleysa.Models.ViewModel.SearchResultView

@{
    ViewBag.Title = "Leitarniðurstöður";
}
@if (!string.IsNullOrEmpty(Model.searchString))
{ 
    <span id="search-string"> @Html.DisplayFor(model => model.searchString) </span>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.searchResultList.First().title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.searchResultList.First().language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.searchResultList.First().downloadCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.searchResultList.First().userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.searchResultList.First().date)
        </th>
    </tr>

@foreach (var item in Model.searchResultList)
{
    <tr>
        <td>
            @if(item.isMovie)
            {
                @Html.ActionLink(item.title, "DisplayMovie", "SubtitleFile", new { id = item.ID }, null)
            }
            else
            {
                @Html.ActionLink(item.title, "DisplaySerie", "SubtitleFile", new { id = item.ID }, null)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.downloadCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
    </tr>
}
</table>
