@model Textaleysa.Models.ViewModel.DisplayFileView

@{
    ViewBag.Title = "DisplayContent";
}

<h2>@Html.DisplayFor(model => model.title) 
    (@Html.DisplayFor(model => model.yearReleased))
    @Html.DisplayFor(model => model.language)
</h2>


@foreach (var item in Model.content)
{
    <div class="jumbotron .col-md-6 .col-md-offset-3">
        <h3>@Html.DisplayFor(model => item.lineID)</h3>
        <div class="timegray">
            <span class="timeicon glyphicon glyphicon-time"></span>
            <span class="time-DateOfBlog">
                @Html.DisplayFor(model => item.startTime)
            -->
            @Html.DisplayFor(model => item.stopTime)
        </span>
    </div>
    <p>@Html.DisplayFor(model => item.line1)</p>
    @if (item.line2 != null)
    {
        <p>@Html.DisplayFor(model => item.line2)</p>
    }
    @if (item.line3 != null)
    {
        <p>@Html.DisplayFor(model => item.line3)</p>
    }
    @*
    <button id="edit-chunk" name="edit-chunk" class="edit-chunk btn btn-primary">Edit Subtitle</button>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="save-chunk" name="save-chunk" class="btn btn-default">Save</button>
            </div>
        </div> 
    <div class="form-for-chunk"></div>
        <script type="text/html" id="template-for-chunk">
                <div class="form-horizontal">
                    <hr />
                    @Html.HiddenFor(model => item.ID)
                    @Html.HiddenFor(model => item.lineID)

                    <div class="form-group">
                        @Html.LabelFor(model => item.startTime, new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => item.startTime)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => item.stopTime, new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => item.stopTime)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => item.line1, new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => item.line1)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => item.line2, new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => item.line2)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => item.line3, new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => item.line3)
                        </div>
                    </div>
                </div>
        </script> *@
    </div>
}
@*
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/EditSubtitleFile.js"></script>
<script src="~/Scripts/AddSubtitleFileChunkTemplate.js"></script>
*@