@model Textaleysa.Models.ViewModel.EditFileView

@{
    ViewBag.Title = "Breyta skr'a";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <h4>EditFileView</h4>
                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.content, new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.content, new { style = "width:1000px; height: 500px;" })
                        @Html.ValidationMessageFor(model => model.content)
                        @Html.TextAreaFor(model => model.content, new { style = "width:1000px; height: 500px;" })

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-xs-12"></div>
        <div class="row">
            <div class="col-xs-8"></div>
            <div class="col-xs-4">
                <div class="form-group">
                    <div>
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
