@model Textaleysa.Models.ViewModel.UploadSerieModelView

@{
    ViewBag.Title = "Hlaða upp skjátexta fyrir þátt";
}

@using (Html.BeginForm("UploadMovie", "SubtitleFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.language, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.language)
                @Html.ValidationMessageFor(model => model.language)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.languageID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.languageID)
                @Html.ValidationMessageFor(model => model.languageID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.season, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.season)
                @Html.ValidationMessageFor(model => model.season)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.episode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.episode)
                @Html.ValidationMessageFor(model => model.episode)
            </div>
        </div>
        <div class="form-group">
            <label for="file" class="control-label col-md-2">Upload File</label>
            <div class="col-md-10">
                <input id="file" type="file" name="file" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
